.header {
    grid-area: header;
    background-color: yellowgreen;
    margin: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
}


.header img {
    width: 3em;
    height: 3em;
    margin-top: 0.5em ;
    margin-left: 0.5em;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}