.my-app {
    display: grid;
    grid-template-areas: "header header" "right-menu main-content";
    grid-template-rows: 5em 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

body {
    background-color: linen;
}

.centrContent{
    grid-area: main-content;
    background-color: aqua;   
    margin-right: 0.5em;
    border-radius: 5px;
}



